<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShopApp</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/style.css" rel="stylesheet" />

    @RenderSection("Styles", false)
</head>

<body>

    @await Html.PartialAsync("_Navbar")


    @*@await Html.PartialAsync("_Header")*@


    <main class="my-3">
        <div class="container">
            @if (TempData["message"] != null)
            {
                //var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String).Message;
                //var alertType = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as String).AlertType;
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("Message"))"></partial>
            }
            @RenderBody()
        </div>

    </main>

    <footer class="py-5 text-center footer" id="footer" style="background-color: #D6DBC5;">
        Shop App | @DateTime.Now.Year
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)




</body>

</html>
